# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
package-dist/
.output/
.vite/
.sitex/
.sitex-bench/
.dev/

# local env files
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
*.log

# coverage
coverage/
.nyc_output/

# ide
.idea/
.vscode/

# Local Netlify folder
.netlify
